/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */
*{
    scroll-behavior: smooth;
}
body{
    background-color: #121b2c;
    color: white;
}
button:focus {
    outline: none;
}

.btn:focus {
    outline: none;
}
/* NAVBAR START */

.bg-color{
    background: rgba(6, 13, 27, 0.9);;
}
.navbar-brand{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 2rem;
}
.navbar .navbar-brand:hover{
    color: orange;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 1.2rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: orange;
}

.custom-toggler.navbar-toggler {
    background-color: transparent;
    border-color: transparent;
}
.navbar-toggler-icon{
    font-size: 1.7rem;
}
/* NAVBAR END */

/* HOME START */
.home-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.home-header{
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.home-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.home-pic{
    border-radius: 5px;
}
.home-button{
    padding-top: 3rem;
    font-family: 'Raleway', sans-serif;
}
/* HOME END */

/* CUSTOMERS START */
.customers-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.customers-header{
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}
.customer-col{
    padding-bottom: 1.5rem;
}
.customer-card{
    border-radius: 20px;
    border: 10px solid rgb(13, 13, 41);
    background: #16283a;
    color: white;
}
.customer-name{
    text-decoration: none;
    text-transform: none;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: bolder;
}
.customer-bal{
    font-family: 'Roboto Mono', monospace;
}
.customer-name:hover{
    color: orange;
    text-decoration: none;
}
.row-header{
    font-family: 'Roboto', sans-serif;
}
/* CUSTOMERS END  */

/* TRANSFER TO START  */
.transfer-to-section{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.transfer-to-header{
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-align: center;
}
.customer-details{
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.details-card{
    border: 4px solid black;
    background-color: rgb(112, 112, 112);
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding-left : 4rem;
    padding-right : 4rem;
}
.tranferto-name{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.4rem;
    color: white;
}
.tranferto-name:hover{
    color: orange;
    cursor: pointer;
}
.amount-transfer{
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}
/* TRANSFER TO END  */


/* TRANSACTIONS START */
.transaction-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.transaction-header{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}
.modal-title{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bolder;
}
.trans-info{
    border: 3px solid black;
    background: rgb(110, 110, 110);
}
.trans-details{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 0.9rem;
}
.trans-time{
    font-size: 0.8rem;
    font-weight: bolder;
}
.modal-body::-webkit-scrollbar{
    background: none;
    width: 5px;
}
.modal-body::-webkit-scrollbar-thumb{
    background: black;
}
/* TRANSACTIONS END */

/* TRANSFER START */
.transfer-history-header{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
}
/* TRANSFER END */

/* CUSTOMER DETAILS START  */
.customer-details-card{
    margin-top: 3rem;
    border-radius: 20px;
    border: 10px solid rgb(13, 13, 41);
    background: #16283a;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.customer-details-header{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-align: center;
}
.customer-details-cred{
    font-size: 1.2rem;
}
/* CUSTOMER DETAILS END  */

/* BOTTOM BAR SECTION START */
.bottom-bar-section{
    color: rgb(141, 141, 141);
    font-family: 'Roboto Mono', monospace;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 1px solid rgb(141, 141, 141);
    /* background-color: #0c1629; */
}
.bottom-bar-section .col-lg-4{
    padding-top: 1rem;
}
.media-links{
    text-decoration: none;
    color: rgb(141, 141, 141);
    font-size: 1.6rem;
    padding-left: 1.2%;
    padding-right: 1.2%;
}
.media-links:hover{
    color: orange;
}
/* BOTTOM BAR SECTION END */

/* ABOUT START */
.about-header{
    font-weight: bolder;
}
.about-section{
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.about-content{
    margin-top: 3rem;
}
.author{
    font-weight: bolder;
    text-decoration: none;
    color: orange;
}
.author:hover{
    color: rgb(216, 143, 7);
}
.company{
    font-weight: bolder;
    color: orange;
}
.company:hover{
    color: rgb(202, 135, 9);
}
/* ABOUT END */


@media screen and (max-width: 569px){
    .details-card{
        padding : 0;
    }
}